[Unit]
Description=GateIntercom
After=multi-user.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=pi
ExecStart=/usr/local/bin/npm start --prefix /home/pi/dev/gate-intercom-pi/ > /home/pi/dev/gate-intercom-pi/logs/GateIntercom.log 2>&1
Restart=on-failure

[Install]
WantedBy=multi-user.target
