[Unit]
Description=pjsip for VoIP calling to and from the intercom
After=multi-user.target

[Service]
Type=forking
User=pi
ExecStart=/usr/local/bin/pjsua --config-file /home/pi/dev/pjproject-2.8/pjsip-apps/bin/.pjsua-conf
RestartSec=10

[Install]
WantedBy=multi-user.target
